/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ROOT */

:root {
    --width: 800px;
    --font-main: "DM Sans", monospace;
    --font-secondary: "Nunito", monospace;
    --font-scale: 1em;
    --background-color: #e0ded7;
    --text-color: #222;
    --main-color: #005d95;
    --accent-color: #548094;
    --light-gray-color: #c8ced7;
    --white-color: #fff;
    --white-opacity-color: #ffffff79;
    --transition-time: 0.1s;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    font-weight: 500;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--main-color);
}

main h1 {
    margin-bottom: 1em;
    line-height: 1em;
    letter-spacing: 0.1rem;
}

h2 {
    border-bottom: 1.5px dotted var(--main-color);
    letter-spacing: 0.1rem;
}

h2:before {
    background-image: url(https://file.garden/aTfQE1754gctZTxl/paw.svg);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 17px;
    content: "";
    color: var(--main-color);
}

/* TEXT STYLES */

a {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
  	border-bottom: 1px solid;
    transition: var(--transition-time);
}

a:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
    text-decoration: none;
}

strong, b {
    color: var(--main-color);
}

button {
    all: unset;
    margin: 0;
    cursor: pointer;
    transition: var(--transition-time);
}

button:hover {
  cursor: pointer;
}

table {
    border-spacing: 0;
    width: 100%;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid var(--light-gray-color);
    font-size: 1em;
}

hr {
    border: 0;
    border-top: 1.5px dotted var(--accent-color);
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 3px;
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

blockquote {
    border-left: 4px solid var(--main-color);
    color: var(--text-color);
    padding-left: 20px;
    font-style: italic;
}

main {
    line-height: 1.6;
    padding-bottom: 4em;
}

/* always center img, max width 100% */

img {
    max-width: 100%;
    overflow:hidden;
}

p:has(img) {
    text-align: center;
}

/* always center iframe */
iframe {
    margin-right: auto;
    margin-left: auto;
}

.tags {
    margin-top: 2em;
}

.tag {
    display: inline-block;
}

#buttons a {
    border-bottom: none;
}

#buttons a:hover {
    background-color: none;
    color: none;
    text-decoration: none;
}


/* --- NAV --- */

a.title {
    font-family: var(--font-main);
    color: var(--main-color);
    font-weight: 600;
    position: absolute;
    letter-spacing: 0.1rem;
    border: none;
    transform: rotate(90deg);
}

a.title:hover {
    text-decoration: none;
    background-color: unset;
}

.nav-list a {
    text-decoration: none;
    border: none;
    margin-left: 0px;
}

.nav-list {
    margin-bottom: 1em;
}

.nav-list a {
    display: block;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    letter-spacing: 2px;
    border-bottom: none;
}

.nav-list a:nth-of-type(odd){
    background-color: var(--white-opacity-color);
}

.nav-list a:hover{
    background-color: var(--accent-color);
}

.nav-heading{
    margin-bottom: 0.5em;
    display: block;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding-left: 0.5em;
    font-weight: 700;
    height: 1.5em;
    width: 120px;
    letter-spacing: 2px;
}

a.nav-heading:hover, button.nav-heading:hover{
    background-color: var(--accent-color);
    color: var(--background-color);
    letter-spacing: 4px;
}

/* --- BLOG CARD DISPLAY --- */

a.blog-card:nth-child(odd){
    background-color: var(--white-opacity-color);
}


a.blog-card:hover{
    color:var(--text-color);
    background-color: var(--white-color);
}

.blog-list a{
    border-bottom: none;
}


.blog-card-inner{
    padding: 1em;
    width: 80%;
    height: 100px;
    position: relative;
}

.blog-card-title{
    letter-spacing: 2px;
    font-weight: 700;
        line-height: 1em;
}

.blog-card p{
    color:var(--text-color);
    line-height: 1em;
}

.blog-card-byline{
    color: var(--accent-color);
    font-size: 0.6em;
    position: absolute;
    bottom: 1em;
}

.blog-card{
    display: flex;
    flex-direction: row;
    height: 130px;
    gap: 0.5em;
}

.blog-card img {
    height: 130px;
    width: 100%;
    object-fit: cover;
    max-width: fit-content;
}

/* --- ART POP DISPLAY --- */

  .art-pop img{
  max-height:80vh;
  }

  .art-pop{
  text-align: center;
  border: 1px solid var(--accent-color);
  max-height:90vh;
  max-width:90vw;
  overflow-y: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1em;
  }

  .art-pop p{
    max-width: 800px;
  }

  .art-pop::backdrop{
  background-color: #000000ad;
  backdrop-filter: blur(3px);
  }

    .art-pop-bar{
  display: block;
  text-align: right;
  background-color: var(--light-gray-color);
  color: var(--background-color);
  }

  .art-pop-bar a, .art-pop-bar a:hover{
    border-bottom: unset;
    background-color: unset;
  }

  .art-pop-tab{
  display: inline-block;
  font-size: 1em;
  padding: 0em 0.5em;
  text-align: center;
  background-color: var(--main-color);
  color: var(--background-color);
  margin: 0em 0em 0em 0.2em;
  }

/* --- SIDE POP DISPLAY --- */


.side-pop{
    background-color: var(--background-color);
    border: none;
    position-area: bottom;
    width: 120px;
}

/* --- CUSTOM DIVs --- */

spoiler {
    background-color: var(--main-color);
    color: var(--main-color);
    transition: 0.1s;
}

spoiler:hover {
    background-color: var(--white-color);
    color: var(--text-color);
    transition: 0.1s;
}

.note, .footnotes {
    background-color: var(--white-color);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 8px solid var(--main-color);
}


/* img gallery */

.img-duo,
.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-duo img,
.gallery img {
    width: 100%;
    object-fit: cover;
    padding: 0.3em;
}

.img-duo img:first-child,
.gallery img:first-child {
    padding-left: 0;
}

.img-duo img:last-child,
.gallery img:last-child {
    padding-right: 0;
}

/* --- BEARBLOG --- */

main h1,
.tags,
#upvote-form,
main i time {
    text-align: left;
}

.footnotes {
    margin-top: 2em;
}

#upvote-form {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 3em;
}

.upvote-count {
    display: none;
}

ul.blog-posts {
    list-style: none;
}

main i time {
    letter-spacing: 0.2rem;
    text-transform: lowercase;
    font-style: normal;
}

footer span:nth-child(2) {
    display: none;
}

/* blog post card list */
.card > ul.blog-posts {
    list-style-type: none;
    padding: unset;
    display: flex;
    list-style: none;
    gap: 0.8em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.card > ul.blog-posts li {
    align-self: start;
}

.card > ul.blog-posts li img {
    order: 1;
    width: 100%;
}

.card > ul.blog-posts li a {
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--light-gray-color);
    order: 3;
    padding: 1em;
    width: 100%;
    line-height: 0.8em;
    min-height: 2.5em;
  border-bottom:none;
}

.card > ul.blog-posts li a:hover {
    background-color: var(--accent-color);
    transition: 0.5s;
}

.card > ul.blog-posts li p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
    color: var(--text-color);
    font-size: 0.8em;
    order: 4;
}

.card > ul.blog-posts li time {
    font-size: 0.8em;
    color: var(--text-color);
    opacity: 70%;
    order: 0;
}

.card > ul.embedded.blog-posts li {
    display: flex;
    flex-flow: row wrap;
}

.card > h2 {
    background-color: var(--main-color);
    color: var(--background-color);
  	border-bottom: none;
}

.card > h2:before {
    background-image: none;
}

/* footer */

footer {
    position: relative;
    text-align: left;
}

#footer-directive > p a {
    position: relative;
    bottom: 5em;
    background-color: var(--white-color);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 8px solid var(--main-color);
    border-bottom: none;
    display: none;
    width: max-content;
}

#footer-directive > p a:hover {
    color: var(--main-color);
}

@media only screen and (min-width: 1280px) {
    header {
        margin-bottom: 40px;
        padding-bottom: 20px;
        text-align: left;
        position: fixed;
        top: 10%;
        left: 20%;
        width: fit-content;
    }

    a.title {
    position: absolute;
    top:200px;
    left:-290px;
    font-size: 6em;
    line-height: 1em;
    }

    #side{
        margin-bottom: 40px;
        padding-bottom: 20px;
        text-align: left;
        position: fixed;
        top: 15%;
        left: 75%;
        width: fit-content;
    }

    main {
        position: absolute;
        top: 3em;
        left: 30%;
        width: 800px;
    }

    footer {
        left: 10%;
    }

    #footer-directive > p a {
        position: relative;
        bottom: 2.5em;
    }

    .mobile-only{
        display: none;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1700px) {

    main {
        position: relative;
        top: 3em;
        left: 18%;
        width: 560px;
    }

        .mobile-only{
        display: none;
    }

}


@media only screen and (max-width: 1280px) {
    header{
        top:0px;
        left:0px;
        position:fixed;
        background-color: var(--background-color);
        width: 100%;
        height: 5em;
    }

    summary.nav-menu-button{
    position: absolute;
    right:1em;
    top:1em;
    font-size: 1.5em;
    z-index: 500!important;
    color: var(--main-color);
}

details.nav-box::details-content{
    opacity: 0;
    transition: var(--transition-time);
        position: fixed;
            right: -10px;
            text-align: right;
}

details.nav-box[open]::details-content{
    opacity: 1;
    right: 0;
    background-color: var(--background-color);
    height: 100vh;
    padding: 3em 1em 0em 1em;
}

    a.title {
    font-size: 1.5em;
    position: absolute;
    left:1em;
    top:1em;
    font-weight: 800;
    z-index: 500!important;
    transform: rotate(0deg);
}

    #side{
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    .nav-heading{
        display: inline-block;
    }

    main{
        margin-top: 4em;
    }

    .blog-card-inner{
        padding: 1em;
        width: 90%;
        height: 150px;
        position: relative;
    }

    .blog-card-title{
        letter-spacing: 2px;
        font-weight: 700;
            line-height: 1em;
    }

    .blog-card p{
        color:var(--text-color);
        line-height: 1em;
    }

    .blog-card-byline{
        color: var(--accent-color);
        font-size: 0.6em;
        position: absolute;
        bottom: 1em;
    }

    .blog-card{
        display: flex;
        flex-direction: row;
        height: 180px;
        gap: 0.5em;
    }

    .blog-card img {
        height: 180px;
        width: 100%;
        object-fit: cover;
        max-width: fit-content;
    }

    ul.blog-posts li {
        width: 100%;
    }

    .img-duo,
    .gallery {
        flex-direction: column;
    }

    .img-duo img,
    .gallery img {
        padding-left: 0;
        padding-right: 0;
    }

    .img-duo img:first-child,
    .gallery img:first-child {
        padding-top: 0;
    }

    .img-duo img:last-child,
    .gallery img:last-child {
        padding-bottom: 0;
    }

    #upvote-form {
        position: absolute;
        right: 1em;
        bottom: inherit;
    }

        .desktop-only{
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
  --background-color: #171717;
  --main-color: #67abca;
  --text-color: #e8e8e4;
  --accent-color: #67abca;
  --light-gray-color: #353535;
  --white-color: #353535;
  --white-opacity-color: rgba(46, 46, 46, 0.527);
    }
}